---
let username = '';

try {
  if (Astro.request.method === 'GET') {
    const url = new URL(Astro.request.url);
    const params = new URLSearchParams(url.search);
    username = params.get('username');
  }
} catch (error) {
  console.error(error);
}
---

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GETパラメータのテスト</title>
  </head>
  <body>
    <h1>Getの練習</h1>
    <p>ユーザー名: {username}</p>
    <form action="/prePost">  <!-- 戻るボタン -->
      <button type="submit">戻る</button>
    </form>
  </body>
</html>
